@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Prompt", sans-serif;
    text-decoration: none;
}

a {
    color: rgb(95, 94, 94);
    font-size: 12px;
    font-weight: 300;
}

.head1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid;
    border-color:rgb(95, 94, 94);
}

.h1left {
    display: flex;   
}


.h1left > div {
    padding: 6px;
    border-right: 1px solid;
}

.h1right {
    display: flex;   
}

.h1right > div {
    padding: 6px;
}

.iconh1 {
    font-size: 15px;
   
}

.head2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid;
}

.h2left {
    padding: none;
    margin-left: 30px;
}

.h2left > img {
    width: 80px;
    height:55px;
}

.h2center {
    display: flex;
    justify-content: space-around;
}

.h2center > div {
    padding: 20px;
}

.h2right {
    padding: 20px;
}

.covid {
    display: flex;
    background-color: #f5f5f5;
    justify-content: center;
    padding: 17px;
}

.stickybar {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 100;
    position: sticky;
    top: 0px;
}

.menpic {
    display: grid;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    min-width: 50px;
}

.menpic > img {
    width: 100vw;
    height: auto;
}

.shcontainer {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    justify-content: center;
}

.shcap {
    display: flex; 
}

.hitcontainer {
    display: flex;
    justify-content: center;
}

.hit1 {
    margin-right: 30px;
}

.dencontainer {
    display: flex;
    justify-content: center;
}

.jpcontainer {
    display: flex;
    justify-content: center;
}

.jp1 {
    margin-right: 15px;
}

.jp2 {
    margin-right: 15px;
}


.category {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    font-size: 12px;
    justify-content: center;
    padding: px;  
    margin-bottom: 20px;      
}

.wdth {
    margin-right: 70px;
}

.hhh {
    color: black;
    font-weight: 700;
}

.ftcontainer {
    background-color: black;
    
}


.footer-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    background-color: black;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    
}

.column-menu {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    background-color: black;
    position: relative;
    top: 20px;
    
}

.column-menu > div {
    font-size: 14px;
    background-color: black;
}

.column-menu > div > ul > li {
    color: white;
    background-color: black;
}

.social-menu > ul > li {
    color: gray;
    background-color: black;
}

li {
    list-style-type: none;   
}



.ftmenucol1 {
    margin-right: 60px;
}

.ftmenucol2 {
    margin-right: 60px;
}

.social-menu {
    margin-right: 60px;
    background-color: black;
    position: relative;
    top: 20px;

}

.social-menu > ul > li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}


.footer-sub {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: black;
}

.front-sub {
    display: flex;
    background-color: black;
    margin-left: 40px;
}

.front-sub > div {
    font-size: 10px;
    padding: 5px;
    background-color: black;
    color: white;
}

.back-sub {
    display: flex;
    background-color: black;
    margin-right: 40px;
}

.back-sub > div {
    font-size: 10px;
    padding: 5px;
    background-color: black;
    color: white;
}

 i {
    background-color: black;
}