@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Prompt", sans-serif;
    text-decoration: none;
}

a {
    color: rgb(95, 94, 94);
    font-size: 12px;
    font-weight: 300;
}

.head1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid;
    border-color:rgb(95, 94, 94);
}

.h1left {
    display: flex;   
}


.h1left > div {
    padding: 6px;
    border-right: 1px solid;
}

.h1right {
    display: flex;   
}

.h1right > div {
    padding: 6px;
}

.head2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid;
}

.h2left {
    padding: none;
    margin-left: 30px;
}

.h2left > img {
    width: 80px;
    height:55px;
}

.h2center {
    display: flex;
    justify-content: space-around;
}

.h2center > div {
    padding: 20px;
}

.h2right {
    padding: 20px;
}

.covid {
    display: flex;
    background-color: #f5f5f5;
    justify-content: center;
    padding: 17px;
}

.stickybar {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 100;
    position: sticky;
    top: 0px;
}

.menpic {
    display: grid;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    min-width: 50px;
}

.menpic > img {
    width: 100vw;
    height: auto;
}

.shcontainer {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    justify-content: center;
}

.shcap {
    display: flex; 
}

.hitcontainer {
    display: flex;
    justify-content: center;
}

.hit1 {
    margin-right: 30px;
}

.dencontainer {
    display: flex;
    justify-content: center;
}

.jpcontainer {
    display: flex;
    justify-content: center;
}

.jp1 {
    margin-right: 15px;
}

.jp2 {
    margin-right: 15px;
}


.footer {
    display: grid;
    grid-template-columns: auto auto auto ;
    margin-top: 50px;
    justify-content: space-evenly;
    
}