/* 1.เว็บ shopping */
body { background-color:rgb(230, 227, 227);}

.grid-container1{
    display: grid;
    grid-template-rows: 200px(repeat(5));
    grid-template-columns: 100vw;}

.item1{
    background-color: rgb(43, 41, 41);
    height: 35px;
    /* justify-self: center; */
    text-align: center;}
.item2{
    background-color: whitesmoke;
    height: 60px;
    text-align: center;}

.grid-container2 {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 500px 500px 500px;}

 .grid-container2 > div {
     background-color: thistle;
     margin : 7px;}


 .grid-container3{
    display: grid;
    grid-template-rows: 200px(repeat(2));
    grid-template-columns: 100vw;}

.item12{
    background-color: whitesmoke;
    height: 200px;
    text-align: center;}

.item13{
    background-color: rgb(43, 41, 41);
    height: 200px;
    text-align: center;
    color: yellow;}






/* 2.เว็บข่าว */
body{background-color: white;}

.grid-container4{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 95px 300px 300px 300px;
}

.item14{background-color: white;
    width: 100vw;
    grid-column: 1/5;     
}

.item15{
    grid-column: 1/span4;
    margin: 20px;
    background-color: rgb(209, 122, 122);
    text-align: center;
}

.item16{
   grid-column: 1/4;
   background-color: rgb(211, 199, 199);
   margin: 10px;
}

.item17{
    background-color: rgb(211, 199, 199);

}







/* 3.Blog */
.grid-container5 {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: auto auto auto auto}

.item18{
    grid-column: 1/5;
}

.item19{
    background-color: grey;
    grid-column: 1/4;
    height: 200px;
    margin: 60px;
}

.item20{
    background-color: grey;
    grid-row-end: 2/3;
    height: 400px;
}

.item21{
    background-color: grey;
    grid-column: 1/4;
    text-align: center;
    height: 400px;
    margin: 40px;
}

.item22{
    background-color: whitesmoke;
    grid-column: 1/4;
    height: auto;
    
}